.subscriptionButton {
  height: 2.5rem;

  padding: 0 0.75rem;

  font: 800 1.125rem "Mukta", sans-serif;
  color: var(--white);
  background: transparent;

  border: 2px solid var(--white);
  border-radius: 0.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0.65;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }

  &.active {
    color: var(--red-600);
    background: var(--white);
    opacity: 1;
  }
}
